<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ZWCD - Chinese Language Support{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="nav">
        <h1 class="nav-logo"><a href="/">ZWCD</a> <span style="font-size: 50%">Chinese Language Learning Support</span></h1>
        {% if logged_in %}
        <a class="nav-item" href="/auth/logout">Logout</a>
        {% else %}
        <a class="nav-item" href="/auth/login">Login or Sign up</a>
        {% endif %}
    </div>

    {% block content %}{% endblock %}

    <hr class="bottom">
    <footer class="site-footer">
        <a href="/about">About</a>
        <a href="/changelog">Changelog</a>
        <a href="/privacy-policy">Privacy-policy</a>
        <a href="/terms-of-use">Terms-of-use</a>
    </footer>
    <br>
</body>
</html>